//TODO: generate the css for this in js or via script vs hard coding

.head-beer
  -(-5..97).each do |i|
    %div.foam{:style => addHead(i)}    

.cabonation 
  -(0..10).each do |i|
    %div.bubble{:style => carbonate(i)}
