.beer-foam-filler {
  height: 30px;
  width:100%;
  background-color: #ffffd5;
  z-index: 5; 
}

.head-beer {
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
  height: 105px;
  z-index: 1; 
  overflow: hidden;
}

.foam {
  display: block;
  position: absolute;
  border-radius: 50%;
}