.carbonation { 
  height: 100% 
}

.bubble {
  background: #ffb200;
  position: absolute;
}

@-webkit-keyframes moveBubbles { 
    0% { top: 1200px;}
    100% { top: -1200px;}
}

@-webkit-keyframes sideWays { 
    0% { margin-left:0px;}
    100% { margin-left:50px;}
}

@-moz-keyframes moveBubbles { 
    0% { top: 1200px;}
    100% { top: -1200px;}
}

@-moz-keyframes sideWays { 
    0% { margin-left:0px;}
    100% { margin-left:50px;}
}

@-o-keyframes moveBubbles { 
    0% { top: 1200px;}
    100% { top: -1200px;}
}

@-o-keyframes sideWays { 
    0% { margin-left:0px;}
    100% { margin-left:50px;}
}
