// Place all the styles related to the beers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.tt-hint {display: none}

#beer_name {
  width: 350px;
}

#beer_srm {
  width: 300px;
}

.srm {
  color: white;
}