#kiosk {

  h2 {
    font-size: 45px;
  }
  h3 {
    margin-top: 10px;
  }
  p {
    font-size: 18px;
    line-height: 25px;
    font-style: italic;
    color: #666666;
  }

  td {
    font-size: 25px;   
    text-align: center;
  }
}

.kiosk-header-img {
  padding: 40px;
}