// Place all the styles related to the taps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.panel.tap {
  min-height: 575px;
}

.tap-info-table tr td{
  font-size: 20px;
}

.tap-description {
  font-style: italic;
  color: #666666;
  font-size: 17px;
}