// Place all the styles related to the taps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.panel.tap {
  min-height: 600px;
  top: -100px;
}

.tap-info-table tr td{
  font-size: 25px;
}

.tap-description {
  font-style: italic;
  color: #555555;
}

.tap-panel-title {
  font-size: 30px;
}